<!DOCTYPE html>
<html>
{% extends "header.html"%} {%block content%}
{% load static %}
<div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 col-8 align-self-center">
                    <h3 class="text-themecolor m-b-0 m-t-0">Dashboard</h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>
                
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            
            <!-- Row -->
            <div class="col-15">
                    <!-- Column -->
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">FU DSP</h4>
                            <table class="tablesaw table-bordered table-hover table" data-tablesaw-mode="swipe" data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch>
                                <thead>
                                    <tr>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">CFU/FU</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">PLAN</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">2019</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="3">2020</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">2021</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5">2022</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="6">2023</th>
                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th class="title" rowspan="5"><a href="javascript:void(0)">FU DSP</a></th>
                                        <td>FTE at BoY</td>
                                        <td>2009</td>
                                        <td>83%</td>
                                        <td>$2.7B</td>
                                        <td>2009</td>
                                        <td>83%</td>
                                    </tr>
                                    <tr>
                                        <td>RETIRE</td>
                                        <td>2009</td>
                                        <td>83%</td>
                                        <td>$2.7B</td>
                                        <td>2009</td>
                                        <td>83%</td>
                                    </tr>
                                    <tr>
                                        <td>RECRUIT</td>
                                        <td>2009</td>
                                        <td>83%</td>
                                        <td>$2.7B</td>
                                        <td>2009</td>
                                        <td>83%</td>
                                    </tr>
                                    <tr>
                                        <td>ATTRITION</td>
                                        <td>2009</td>
                                        <td>83%</td>
                                        <td>$2.7B</td>
                                        <td>2009</td>
                                        <td>83%</td>
                                    </tr>
                                    <tr>
                                        <td>FTE at EoY</td>
                                        <td>2009</td>
                                        <td>83%</td>
                                        <td>$2.7B</td>
                                        <td>2009</td>
                                        <td>83%</td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                
            
            
            
            <!-- Row -->
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right sidebar -->
            <!-- ============================================================== -->
            <!-- .right-sidebar -->
            
            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
{%endblock%}