<!DOCTYPE html>
<html>
{% extends "header.html"%} {%block content%}
{% load static %}
<div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 col-8 align-self-center">
                    <h3 class="text-themecolor m-b-0 m-t-0">Dashboard</h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">Macro</li>
                    </ol>
                </div>
                
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <h3>86%</h3>
                                <h6 class="card-subtitle">EBITDA</h6></div>
                            <div class="col-12">
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 85%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <!-- Column -->
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <h3>40%</h3>
                                <h6 class="card-subtitle">Demand</h6></div>
                            <div class="col-12">
                                <div class="progress">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 40%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <!-- Column -->
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <h3>56%</h3>
                                <h6 class="card-subtitle">Supply as is</h6></div>
                            <div class="col-12">
                                <div class="progress">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 56%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <!-- Column -->
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <h3>26%</h3>
                                <h6 class="card-subtitle">Supply With Pension Replacement</h6></div>
                            <div class="col-12">
                                <div class="progress">
                                    <div class="progress-bar bg-inverse" role="progressbar" style="width: 26%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="row">
                            <div class="col-lg-6 col-md-4">
                                <div class="card-body">
                                    <h3>Telkom Group Workforce Baseline</h3>
                                    <h6 class="card-subtitle m-b-0">check the difference of Admin</h6> </div>
                            </div>
                            
                        </div>
                        <div>
                            <hr class="m-t-0"> </div>
                        <div class="chartist-chart andvios m-t-40" style="height:350px;"> </div>
                    </div>
                </div>
            </div>
            <!-- Row -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <ul class="list-inline pull-right">
                                <li>
                                    <h6 class="text-muted"><i class="fa fa-circle m-r-5 text-success"></i>Free</h6> </li>
                                <li>
                                    <h6 class="text-muted"><i class="fa fa-circle m-r-5 text-primary"></i>Premium</h6> </li>
                            </ul>
                            <h3 class="card-title">Telkom Group Workforce Projection</h3>
                            <h6 class="card-subtitle">you can check the count</h6>
                            <div class="download-state chartist-chart" style="height:380px"></div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <!-- Column -->
                    
                    <!-- Column -->
                    <!-- Column -->
                    
                    <!-- Column -->
                </div>
            </div>
            <!-- Row -->
            <div class="col-15">
                    <!-- Column -->
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Kitchen Sink</h4>
                            <table class="tablesaw table-bordered table-hover table" data-tablesaw-mode="swipe" data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch>
                                <thead>
                                    <tr>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">CFU/FU</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">2018</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">2019</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="3">2020</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">2021</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5">2022</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="6">2023</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">
                                            <abbr title="Rotten Tomato Rating">CAGR</abbr>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="title"><a href="{% url 'cfumobile'%}">CFU Mobile</a></td>
                                        <td>1</td>
                                        <td>2009</td>
                                        <td>83%</td>
                                        <td>$2.7B</td>
                                        <td>2009</td>
                                        <td>83%</td>
                                        <td>$2.7B</td>
                                    </tr>
                                    <tr>
                                        <td class="title"><a href="{% url 'cfuconsumer'%}">CFU Consumer</a></td>
                                        <td>1</td>
                                        <td>2009</td>
                                        <td>83%</td>
                                        <td>$2.7B</td>
                                        <td>2009</td>
                                        <td>83%</td>
                                        <td>$2.7B</td>
                                    </tr>
                                    <tr>
                                        <td class="title"><a href="{% url 'cfuenterprise'%}">CFU Enterprise</a></td>
                                        <td>1</td>
                                        <td>2009</td>
                                        <td>83%</td>
                                        <td>$2.7B</td>
                                        <td>2009</td>
                                        <td>83%</td>
                                        <td>$2.7B</td>
                                    </tr>
                                    <tr>
                                        <td class="title"><a href="{% url 'cfuwib'%}">CFU WIB</a></td>
                                        <td>1</td>
                                        <td>2009</td>
                                        <td>83%</td>
                                        <td>$2.7B</td>
                                        <td>2009</td>
                                        <td>83%</td>
                                        <td>$2.7B</td>
                                    </tr>
                                    <tr>
                                        <td class="title"><a href="{% url 'fudsp'%}">FU DSP</a></td>
                                        <td>1</td>
                                        <td>2009</td>
                                        <td>83%</td>
                                        <td>$2.7B</td>
                                        <td>2009</td>
                                        <td>83%</td>
                                        <td>$2.7B</td>
                                    </tr>
                                    <tr>
                                        <td class="title"><a href="{% url 'funits'%}">FU NITS</a></td>
                                        <td>1</td>
                                        <td>2009</td>
                                        <td>83%</td>
                                        <td>$2.7B</td>
                                        <td>2009</td>
                                        <td>83%</td>
                                        <td>$2.7B</td>
                                    </tr>
                                    <tr>
                                        <td class="title"><a href="{% url 'fufinance'%}">FU Finance</a></td>
                                        <td>1</td>
                                        <td>2009</td>
                                        <td>83%</td>
                                        <td>$2.7B</td>
                                        <td>2009</td>
                                        <td>83%</td>
                                        <td>$2.7B</td>
                                    </tr>
                                    <tr>
                                        <td class="title"><a href="{% url 'fuhcm'%}">FU HCM</a></td>
                                        <td>1</td>
                                        <td>2009</td>
                                        <td>83%</td>
                                        <td>$2.7B</td>
                                        <td>2009</td>
                                        <td>83%</td>
                                        <td>$2.7B</td>
                                    </tr>
                                    <tr>
                                        <td class="title"><a href="{% url 'ceooffice'%}">CEO Office</a></td>
                                        <td>1</td>
                                        <td>2009</td>
                                        <td>83%</td>
                                        <td>$2.7B</td>
                                        <td>2009</td>
                                        <td>83%</td>
                                        <td>$2.7B</td>
                                    </tr>
                                    <tr>
                                        <td class="title">Total</td>
                                        <td>1</td>
                                        <td>2009</td>
                                        <td>83%</td>
                                        <td>$2.7B</td>
                                        <td>2009</td>
                                        <td>83%</td>
                                        <td>$2.7B</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                
            
            
            
            <!-- Row -->
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right sidebar -->
            <!-- ============================================================== -->
            <!-- .right-sidebar -->
            
            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
{%endblock%}