<!DOCTYPE html>
<html lang="en">
    {% extends "header.html"%} {%block content%}
    {% load static %}

<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">WFP Process</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="javascript:void(0)">Home</a>
                    </li>
                    <li class="breadcrumb-item active">WFP Process</li>
                </ol>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body wizard-content">
                        <h4 class="card-title">A. Questionnaire</h4>
                        <form action="#" class="tab-wizard wizard-circle">
                            
                            <!-- Step 1 -->
                            <h6>Understanding<br>Business Strategy</h6>
                            <section>
                                <label for="firstName1">Goal: Learn the status of the business unit right now and the business leader’s perception
                                    of the current state of the organization.
                                    <br>
                                </label>
                                <label for="firstName1">1. How is your unit's business strategy during :</label>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="firstName1">
                                                <center>For 1 year ahead (Short term): </center>
                                            </label>
                                            <textarea name="shortDescription" id="shortDescription1" rows="6" class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="lastName1">
                                                <center>For the next 2-3 years (Medium term):</center>
                                            </label>
                                            <textarea name="shortDescription" id="shortDescription1" rows="6" class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="lastName1">
                                                <center>For the next 4-5 years (Long term):</center>
                                            </label>
                                            <textarea name="shortDescription" id="shortDescription1" rows="6" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="emailAddress1">2. How are your unit's business targets and critical issues contributing to the
                                                company?
                                            </label>
                                            <textarea name="shortDescription" id="shortDescription1" rows="6" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="location1">3. What is the biggest weakness in your unit business?</label>
                                            <textarea name="shortDescription" id="shortDescription1" rows="6" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="emailAddress1">4. Attachment as the basis of the information (* if any)</label>
                                            <input type="file" class="form-control" id="exampleInputFile" aria-describedby="fileHelp">
                                        </div>
                                    </div>
                                </div>
                                <br></br>
                                <h4 class="card-title">B. Check Points</h4>
                                <div class="form-group">
                                        <label>Goal: At this point you should be able to answer “yes” to all of the following questions</label>
                                        <div class="input-group">
                                            <ul class="icheck-list">
                                                <li>
                                                    <label for="minimal-checkbox-1">1. Memahami pentingnya Workforce Planning dan engage di dalam proses bisnis</label>
                                                    <input type="checkbox" class="check" id="minimal-checkbox-1">
                                                </li>
                                                <li>
                                                    <label for="minimal-checkbox-2">2. Pengelola SDM di unit bisnis mempunyai detail pemahaman organisasi kondisi saat ini</label>
                                                    <input type="checkbox" class="check" id="minimal-checkbox-2">
                                                </li>
                                                <li>
                                                    <label for="minimal-checkbox-2">3. Pengelola SDM di unit bisnis mempunyai pandangan yang komprehensif tentang strategi bisnis dan <br>prioritasnya di dalam 2 hingga 5 tahun ke depan</label>
                                                    <input type="checkbox" class="check" id="minimal-checkbox-2">
                                                </li>
                                            </ul>
                                        </div>
                                </div>

                            </section>
                            <!-- Step 2 -->
                            <h6>Identify <br>Capability Needs</br></h6>
                            <section>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="jobTitle1">Lorem ipsum dolor</label>
                                            <input type="text" class="form-control" id="jobTitle1"> 
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="videoUrl1">Company Name :</label>
                                            <input type="text" class="form-control" id="videoUrl1">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="shortDescription1">Job Description :</label>
                                            <textarea name="shortDescription" id="shortDescription1" rows="6" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!-- Step 3 -->
                            <h6>Diagnose <br>Current Supply</br></h6>
                            <section>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="int1">Interview For :</label>
                                            <input type="text" class="form-control" id="int1"> </div>
                                        <div class="form-group">
                                            <label for="intType1">Interview Type :</label>
                                            <select class="custom-select form-control" id="intType1" data-placeholder="Type to search cities" name="intType1">
                                                <option value="Banquet">Normal</option>
                                                <option value="Fund Raiser">Difficult</option>
                                                <option value="Dinner Party">Hard</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="Location1">Location :</label>
                                            <select class="custom-select form-control" id="Location1" name="location">
                                                <option value="">Select City</option>
                                                <option value="India">India</option>
                                                <option value="USA">USA</option>
                                                <option value="Dubai">Dubai</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="jobTitle2">Interview Date :</label>
                                            <input type="date" class="form-control" id="jobTitle2">
                                        </div>
                                        <div class="form-group">
                                            <label>Requirements :</label>
                                            <div class="c-inputs-stacked">
                                                <div class="m-b-10">
                                                    <label class="custom-control custom-radio">
                                                        <input id="radio1" name="radio" type="radio" class="custom-control-input">
                                                        <span class="custom-control-label">Employee</span>
                                                    </label>
                                                    <label class="custom-control custom-radio">
                                                        <input id="radio2" name="radio" type="radio" class="custom-control-input">
                                                        <span class="custom-control-label">Contract</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!-- Step 4 -->
                            <h6>Develop a Plan</h6>
                            <section>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="behName1">Behaviour :</label>
                                            <input type="text" class="form-control" id="behName1">
                                        </div>
                                        <div class="form-group">
                                            <label for="participants1">Confidance</label>
                                            <input type="text" class="form-control" id="participants1">
                                        </div>
                                        <div class="form-group">
                                            <label for="participants1">Result</label>
                                            <select class="custom-select form-control" id="participants1" name="location">
                                                <option value="">Select Result</option>
                                                <option value="Selected">Selected</option>
                                                <option value="Rejected">Rejected</option>
                                                <option value="Call Second-time">Call Second-time</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="decisions1">Comments</label>
                                            <textarea name="decisions" id="decisions1" rows="4" class="form-control"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label>Rate Interviwer :</label>
                                            <div class="c-inputs-stacked">
                                                <label class="inline custom-control custom-checkbox block">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description ml-0">1 star</span>
                                                </label>
                                                <label class="inline custom-control custom-checkbox block">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description ml-0">2 star</span>
                                                </label>
                                                <label class="inline custom-control custom-checkbox block">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description ml-0">3 star</span>
                                                </label>
                                                <label class="inline custom-control custom-checkbox block">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description ml-0">4 star</span>
                                                </label>
                                                <label class="inline custom-control custom-checkbox block">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description ml-0">5 star</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <h6>Monitor & Evaluate</h6>
                            <section>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="firstName1">First Name :</label>
                                            <input type="text" class="form-control" id="firstName1"> </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="lastName1">Last Name :</label>
                                            <input type="text" class="form-control" id="lastName1"> </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="emailAddress1">Email Address :</label>
                                            <input type="email" class="form-control" id="emailAddress1"> </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="phoneNumber1">Phone Number :</label>
                                            <input type="tel" class="form-control" id="phoneNumber1"> </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="location1">Select City :</label>
                                            <select class="custom-select form-control" id="location1" name="location">
                                                <option value="">Select City</option>
                                                <option value="Amsterdam">India</option>
                                                <option value="Berlin">USA</option>
                                                <option value="Frankfurt">Dubai</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="date1">Date of Birth :</label>
                                            <input type="date" class="form-control" id="date1"> </div>
                                    </div>
                                </div>
                            </section>
                        </form>
                        </div>
                    </div>
                </div>
            </div>


            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right sidebar -->
            <!-- ============================================================== -->

        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>

<!--Custom JavaScript -->

</body>

</html>

{%endblock%}

<!-- icheck -->
<script src="{%static 'assets/plugins/icheck/icheck.min.js'%}"></script>
<script src="{%static 'assets/plugins/icheck/icheck.init.js'%}"></script>



